* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.Synonyms li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}
